html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 0px;
}


input[name="searchString"] {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.navbar form button[type="submit"] {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}



/*Banner*/
.banner-container {
    position: relative;
    height: 70vh;
    overflow: hidden;
    background: url('../imagenes/fondo-banner.jpg') center no-repeat;
}

.banner-content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    margin-bottom: 50px;
}


.subscribe-btn {
    padding: 15px 30px;
    font-size: 32px;
    border-radius: 14px;
}