@model BlogCore.Models.Slider

@{
    ViewData["Title"] = "Editar Slider";
}


<br />
<br />

<h3 class="text-center">Editar Slider</h3>
<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <div class="row row-cols-1 row-cols-md-2 px-2 border mx-auto justify-content-center">
        <div asp-validation-summary="All" class="text-danger"></div>
        @* <div asp-validation-summary="All" class="text-danger"></div> *@

        @* Se envia el ID del articulo como campo oculto *@
        <input type="hidden" asp-for="Id" />

        <div class="col-md-8 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Nombre"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Nombre" class="form-control" placeholder="Ingresa el Nombre" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Estado"></label>
                </div>
                <div class="col-8 form-switch">
                    <input type="checkbox" asp-for="Estado" class="form-check-input" />
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
            </div>

            <br />


            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="UrlImagen"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="archivos" id="subidaArchivo" class="form-control" />
                    @* Para subir multiples archivos *@
                    @* <input type="file" name="archivos" multiple class="form-control" /> *@
                    <span asp-validation-for="UrlImagen" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="form-goup-row">
                <div class="col-8">

                    <div class="row mb-3 mt-1">
                        <div class="col">
                            <button type="submit" class="btn btn-primary form-control">Editar Slider</button>
                        </div>
                        &nbsp;
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success form-control">Volver atras</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-8 col-md-4 mx-auto py-3">
            <img src="@Model.UrlImagen" class="w-100" style="border-radius:5px; border:1px solid #bbb9b9" />
        </div>
    </div>
</form>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}